@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
  :root {
    --clr-primary: #1c4ca5;
    --clr-primary-light: #4D93E9;
    --clr-primary-dark: #17449e;
    --clr-black: #353535;
    --clr-gray: #757575;
    --clr-blue: #abcbff;
    --clr-gradient-dark: #14419c;
    --clr-gradient-light: #2d69c4;
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Merriweather', ui-serif, serif;
  }
  body {
    @apply overflow-x-hidden font-my-sans text-my-gray;
    -webkit-tap-highlight-color: transparent;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  .logo {
    @apply w-40 md:w-56;
  }
  .btn-regular {
    @apply inline-block py-3 px-6 text-sm font-semibold text-white bg-my-primary-light duration-300 hover:bg-my-primary-dark;
  }
  .btn-regular-pill {
    @apply inline-block py-3 px-8 rounded-full text-sm font-semibold uppercase tracking-tiny text-white bg-my-primary-dark duration-300 hover:bg-my-primary;
  }
  .btn-gradient-pill {
    @apply inline-block py-3 px-8 rounded-full text-sm font-semibold uppercase tracking-tiny text-white bg-gradient-to-r from-my-gradient-stop-dark to-my-gradient-stop-light duration-200 hover:text-gray-300;
  }
}